@{
    ViewBag.Title = "Lobby";
}

<div class="row">
    <div class="col-md-4">
        <br /><br />
        <p>
            @Html.ActionLink("Create game", "CreateGame", null, new {@class = "btn btn-default"})
        </p>
    </div>
</div>
