@{
    ViewBag.Title = "Lobby";
}

<div class="row">
    <div class="col-md-4">
        <br /><br />
        <p>
            <a class="btn btn-default" href="/Home/Create">Create game</a>
        </p>
    </div>
</div>
